* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --hue: 195;

  --color-base-white-500: hsl(0, 0%, 100%);
  --color-base-blue-100: hsl(var(--hue), 100%, 98%);
  --color-base-blue-300: hsl(var(--hue), 46%, 40%);
  --color-base-blue-500: hsl(var(--hue), 91%, 25%);

  --header-font-color: #202024;
  --paragraph-font-color: #121214;

  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--color-base-blue-100);
}

html,
body,
h1,
h2,
p,
input {
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";

  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.6rem;

  background: var(--color-base-blue-500);

  max-height: 72px;
  width: 100%;

  padding: 1.6rem 2.8rem;
}

header img.logo {
  width: 4.3rem;
  height: 7.2rem;

  object-fit: contain;
}

header form {
  flex: 1;
}

header form label {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;
}

header form input {
  width: 100%;
  border: none;

  background: var(--color-base-blue-300);

  padding: 0.8rem;
  border-radius: 0.4rem;
}

header form input::placeholder {
  opacity: 0.8;
  color: var(--color-base-white-500);
}

header img.avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
  object-fit: contain;
}

main {
  grid-area: main;
}

main,
sidebar {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

main img.article-image {
  aspect-ratio: 16/9;
  width: 100%;

  object-fit: contain;
  transition: filter 1s ease-in-out;
}

main img.article-image:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
}

main article,
sidebar {
  display: flex;
  flex-direction: column;

  padding: 0 2.4rem;
}

article {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

.like-dislike img:nth-child(1) {
  margin-right: 1.2rem;
}

.article-header {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}

.article-header h2,
sidebar h2 {
  color: var(--header-font-color);
  font-size: 2.4rem;
  font-weight: 700;
}

.article-text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.article-text p:last-child {
  margin-top: 1.6rem;
}

sidebar {
  grid-area: sidebar;

  margin-top: 3.4rem;
}

footer {
  grid-area: footer;
}

.nav-article {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 1.6rem;
}

.nav-article img {
  width: 15rem;

  object-fit: contain;
}

.article-info {
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}

.article-info h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.article-info p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

footer {
  background: var(--color-base-blue-500);

  color: var(--color-base-white-500);
  font-size: 1.6rem;
  text-align: center;

  padding: 1.6rem;
  margin-top: 3.2rem;
}

.nav-article img {
  animation: appear 0.4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@media (min-width: 970px) {
  #app {
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;

    row-gap: 4.4rem;
  }

  sidebar {
    margin-top: 0;
  }

  main {
    padding-left: 10.8rem;
  }

  sidebar {
    padding-right: 10.8rem;
  }

  .article-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }
}
